@model ToDoDDD.DAL.Entities.Tasks


@{
    ViewData["Title"] = "Новая задача";
}

<h1>Новая задача</h1>

<h4>Создать</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" rows="5" cols="50" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input asp-for="StatusId" type="hidden" value="@ViewBag.StatusNew" />
            </div>

            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="PriorityGuid" class="form-select" asp-items="ViewBag.Prioritetes">
                    <option>Выберите приоритет</option>
                </select>
            </div>


            <div class="form-group">
                <input asp-for="CreateDate" type="hidden" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary m-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>